<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light " style="background-color: rgb(157, 243, 214,0.65);">
        <a class="navbar-brand" href="#">
            <img src="../../../app/public/img/logo.png" alt="logo" style="width: 100px;">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#barra" aria-controls="barra" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="barra">
            <div class="container">
                <div class="row justify-content-end">
                    <ion-icon name="person" style="font-size:32px;"></ion-icon>
                    <div class="align-self-center">HOLA, {{usuario.nombres.split(" ")[0]+", "+usuario.apellidos.split(" ")[0]}}</div>
                    <div class="col-1"></div>
                    <form class="form-inline my-2 my-lg-0" >
                        <ul class="navbar-nav mr-auto ">

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Opciones
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color: rgb(157, 243, 214,0.65);">
                                    <a class="dropdown-item" ng-click="irEditarProductoV()">Editar productos</a>
                                    <a class="dropdown-item" ng-click="irListaPedidoFarmaceuticoV()">Lista de pedidos </a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" ng-click="cerrarSesion()">Salir</a>
                                </div>
                            </li>
                        </ul>
                    </form>
                </div>
            </div>
        </div>
    </nav>
</div>
<div >