<barra-Farmaceutico></barra-Farmaceutico>
<br>
<div class="row text-center">
    <h1 class="col-12">PRODUCTO</h1>
</div>
<br>

<div class="form-group ">
    <div class="col-md-8 mb-3 offset-md-2">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" id="validationTooltipUsernamePrepend"><ion-icon name="search"></ion-icon></span>
            </div>
            <input type="text" class="form-control" id="validationTooltipUsername" placeholder="Buscar producto" aria-describedby="validationTooltipUsernamePrepend" required>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <table class="fondo-iniciar-sesion table table-hover">
            <thead class="thead-dark">
            <tr>
                <th scope="col-2">Nombre</th>
                <th scope="col-2">Descripcion</th>
                <th scope="col-1">Precio</th>
                <th scope="col-2">Stock disponible</th>
                <th scope="col-1"></th>
                <th scope="col-1"></th>
                <th scope="col-1"></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="producto in listaProducto">
                <td>{{producto.nombre}}</td>
                <td ng-if="producto.idProducto!=productoEditar">{{producto.descripcion}}</td>
                <td ng-if="producto.idProducto==productoEditar"><textarea type="text" ng-value="producto.descripcion"></textarea></td>
                <td ng-if="producto.idProducto!=productoEditar">S/. {{producto.precio}}</td>
                <td ng-if="producto.idProducto==productoEditar"> <input type="text" ng-value="+producto.precio"></td>
                <td ng-if="producto.idProducto!=productoEditar">{{producto.stock}} u</td>
                <td ng-if="producto.idProducto==productoEditar"><input type="text" ng-value="producto.stock"></td>
                <td ng-if="producto.idProducto!=productoEditar"><button class="btn" ng-click="editarProducto(producto.idProducto)"><ion-icon style="font-size:20px" name="create" ></ion-icon></button></td>
                <td ng-if="producto.idProducto==productoEditar"><button class="btn" ng-click="editarProducto(0)"><ion-icon style="font-size:20px" name="checkbox"></ion-icon></button></td>
                <td ng-if="producto.idProducto==productoEditar"><button class="btn"><ion-icon style="font-size:20px" name="trash"></ion-icon></button></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</div>
<br>
<div class="row justify-content-center">
    <nav aria-label="...">
        <ul class="pagination">
            <li class="page-item ">
                <span class="page-link" ng-click="anterior()">Anterior</span>
            </li>
            <li  ng-repeat="p in paginas" class="page-item "><a class="page-link" ng-click="cargarListaProducto(p)">{{p}}</a></li>
            <li class="page-item">
                <a class="page-link" ng-click="siguiente()">Siguiente</a>
            </li>
        </ul>
    </nav>
</div>