<barra-Farmaceutico></barra-Farmaceutico>
<br>
<div class="row text-center">
    <h1 class="col-12">PRODUCTO</h1>
</div>
<br>

<div class="form-group ">
    <div class="col-md-8 mb-3 offset-md-2">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" id="validationTooltipUsernamePrepend"><ion-icon name="search"></ion-icon></span>
            </div>
            <input type="text" class="form-control" id="validationTooltipUsername" placeholder="Buscar producto" aria-describedby="validationTooltipUsernamePrepend" required>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <table class="fondo-iniciar-sesion table table-hover">
            <thead class="thead-dark">
            <tr>
                <th scope="col-2"></th>
                <th scope="col-2">Descripcion</th>
                <th scope="col-1">Precio</th>
                <th scope="col-2">Stock disponible</th>
                <th scope="col-1"></th>
                <th scope="col-1"></th>
                <th scope="col-1"></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Paracetamol</td>
                <td>150 g.</td>
                <td>S/. 1.00</td>
                <td>234 u</td>
                <td><button class="btn"><ion-icon style="font-size:20px" name="create"></ion-icon></button></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Ibuprofeno</td>
                <td>150 g.</td>
                <td>S/.<input class="col-4" type="text" style="opacity: .5" value="1.00"></td>
                <td><input class="col-4" type="text" style="opacity: .5" value="4">u.</td>
                <td></td>
                <td><button class="btn"><ion-icon style="font-size:20px" name="checkbox"></ion-icon></button></td>
                <td><button class="btn"><ion-icon style="font-size:20px" name="trash"></ion-icon></button></td>

            </tr>
            <tr>
                <td>Amoxicilina</td>
                <td>150 g.</td>
                <td>S/. 1.00</td>
                <td>234 u</td>
                <td><button class="btn"><ion-icon style="font-size:20px" name="create"></ion-icon></button></td>
                <td></td>
                <td></td>
            </tr>

            </tbody>
        </table>
    </div>
</div>
</div>