<barra-cliente></barra-cliente>
<br>
<div >
    <br><br>
    <div class="row text-center">
        <h1 class="col-12">Pedido actual</h1>
    </div>
    <br>
    <div class="row text-center">
        <h4 class="col-12">Pedido N° 123</h4>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-9 fondo-iniciar-sesion">
                <br>
                <div class="card mb-3" >
                    <div class="row no-gutters" >
                        <div class="col-4">
                            <div class="card-body text-center">
                                <h5 class="card-title">NOMBRE/PRECIO</h5>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="card-body text-center">
                                <h5 class="card-title">DESCRIPCION</h5>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="card-body" style="font-size: 16px;">
                                CANTIDAD
                            </div>
                        </div>
                        <div class="col-2 text-center">
                            <div class="card-body">
                                ELIMINAR
                            </div>
                        </div>
                    </div>
                </div>
                <!--productos-->
                <div class="card mb-3" >
                    <div class="row no-gutters" ng-repeat="productoPedido in listaProductoPedido ">
                        <div class="col-4">
                            <div class="card-body text-center">
                                <h5 class="card-title">{{productoPedido.nombre}}</h5>
                                <p>S/. {{productoPedido.precio}}</p>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="card-body text-center">
                                <h5 class="card-title">{{productoPedido.descripcion}}</h5>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="card-body">
                                <input type="text" class="form-control" ng-value="productoPedido.cantidad" disabled="disabled">
                            </div>
                        </div>
                        <div class="col-2 text-center">
                            <div class="card-body">
                                <button><ion-icon name="trash"></ion-icon></button>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
            </div>
            <div class="col-3 fondo-iniciar-sesion text-center">
                <br>
                <h1>Total</h1>
                <div class="row justify-content-center">
                    <div class="col-8 ">
                        <input ng-value="precioTotal" type="text" class="form-control" id="totalPedido" placeholder="Total" disabled>
                    </div>
                </div>
                <br>
                <div class="row justify-content-center">
                    <button type="button" class="btn btn-secondary">Enviar pedido</button>
                </div>
                <br>
                <div class="row justify-content-center">
                    <button type="button" class="btn btn-secondary">Limpiar pedido</button>
                </div>
                <br>
            </div>
        </div>
    </div>
</div>