<barra-farmaceutico></barra-farmaceutico>
<div class=" letra">
    <div class="container accordion" style="opacity:.9;" id="listaPedidos">
        <div class="card">
            <div class="card-header text-center disabled" id="" >
                <div class="row" style="font-weight: bold;font-size :24px;">
                    <div class="col-lg-2  col-md-2 col-sm-6 col-6 ">Numero Pedido</div>
                    <div class="col-lg-3  col-md-3 col-sm-6 col-6 ">Tiempo limite</div>
                    <div class="col-lg-4  col-md-4 col-sm-12 col-12 ">Cliente</div>
                    <div class="col-lg-3  col-md-3 col-sm-12 col-12 ">Detalles</div>
                </div>
                </button>
            </div>
        </div>
        <div ng-repeat="pedido in listaPedidos" class="card">
            <div class="card-header" id="pedido-{{pedido.idPedido}}">
                <h5 class="mb-0">
                    <div class="row text-center ">
                        <div class="col-lg-2  col-md-2 col-sm-6 col-6 align-self-center">Pedido {{pedido.idPedido}}</div>
                        <div class="col-lg-3  col-md-3 col-sm-6 col-6 align-self-center">{{pedido.fecha}} Horas</div>
                        <div class="col-lg-4  col-md-4 col-sm-12 col-12 align-self-center">{{pedido.cliente}}{{pedido.dni}}</div>
                        <div class="col-lg-3  col-md-3 col-sm-12 col-12 ">
                            <button ng-click="pedirProductoPedido(pedido.idPedido)" class="btn collapsed" type="button" data-toggle="collapse" data-target="#tablaContenido-{{pedido.idPedido}}" aria-expanded="true" aria-controls="tablaContenido-{{pedido.idPedido}}">
                                <ion-icon name="eye" style="font-size:32px;"></ion-icon>
                            </button>
                        </div>
                    </div>
                </h5>
            </div>
            <div id="tablaContenido-{{pedido.idPedido}}" class="collapse" aria-labelledby="pedido-{{pedido.idPedido}}" data-parent="#listaPedidos">
                <div class="card-body">
                    <table class="col-md-8 offset-md-2 table table-hover">
                        <thead>
                        <tr>
                            <th scope="col-lg-4  col-md-4 col-sm-6 col-6">#</th>
                            <th scope="col-lg-4  col-md-4 col-sm-6 col-6">Producto</th>
                            <th scope="col-lg-4  col-md-4 col-sm-6 col-6">Descripcion</th>
                            <th scope="col-lg-4  col-md-4 col-sm-6 col-6">Precio</th>
                            <th scope="col-lg-4  col-md-4 col-sm-6 col-6">Cantidad</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="productoPedido in listaProductoPedido">
                            <th scope="row">{{listaProductoPedido.indexOf(productoPedido)+1}}</th>
                            <td>{{productoPedido.nombre}}</td>
                            <td>{{productoPedido.descripcion}}</td>
                            <td>{{productoPedido.precio}}</td>
                            <td>{{productoPedido.cantidad}}</td>
                        </tr>
                        </tbody>
                    </table>
                    <br>
                    <div class="col-md-8 offset-md-2 row">
                        <div class="col-md-8">
                            {{precioTotal}}
                        </div>
                        <div class="col-md-4">
                            Estado
                            <button class="btn"><ion-icon name="checkbox-outline" style="font-size:32px;"></ion-icon></button>
                            <button class="btn"><ion-icon name="close" style="font-size:32px;"></ion-icon></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>