<div class="col-12 col-sm-12 col-md-4 col-lg-4">
    <div class="card tam centrar" >
        <img src="src/img/amoxicilina.PNG" class="card-img-top altoImagen" alt="Amoxicilina">
        <div class="card-body">
            <h5 class="card-title">Amoxicilina</h5>
            <p class="card-text">S/. 0.80</p>
            <div class="row justify-content-center">
                <div class="row col-12 justify-content-center">
                    <button type="button" class="btn btn-secondary col-2">-</button>
                    <input type="text" class="form-control col-4" id="txtCantidad">
                    <button type="button" class="btn btn-secondary col-2">+</button>
                </div>
            </div>
            <br>
            <div class="row justify-content-center">
                <button type="button" class="btn btn-secondary">Agregar</button>
                <br>
            </div>
        </div>
    </div>
    <br>
</div>