<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link rel="stylesheet" href="vendor/bootstrap-4.3.1-dist/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">    <link rel="stylesheet" href="./app/css/main.css">
    <link rel="stylesheet" href="app/css/main.css">

    <script src="vendor/jquery/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="vendor/bootstrap-4.3.1-dist/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="vendor/bootstrap-4.3.1-dist/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script type="text/javascript" src="vendor/angular/angular.min.js"></script>


    <script src="app/js/app.js" ></script>
    <script src="app/js/controlador/controlador.js" ></script>
    <script src="app/js/directives/app.directive.js" ></script>
    <script src="https://unpkg.com/ionicons@4.5.5/dist/ionicons.js"></script>

</head>
<body ng-app="aplicacion" class="fondo-principal">
    <div class="container letra" ng-controller="MyController">
        <inicio-app ng-if="inicioV"></inicio-app>
        <registro-app ng-if="registroV"></registro-app>
        <login-app ng-if="loginV"></login-app>
        <catalogo-producto-cliente ng-if="catalogoProductoClienteV"></catalogo-producto-cliente>
        <lista-pedido-cliente ng-if="listaPedidoClienteV"></lista-pedido-cliente>
        <editar-producto ng-if="editarProductoV"></editar-producto>
        <lista-pedido-farmaceutico ng-if="listaPedidoFarmaceuticoV"></lista-pedido-farmaceutico>
    </div>


<!--<script type="text/javascript" src="app/js/directive/directive.js"></script>-->
<!--<script type="text/javascript" src="app/js/controller/controller.js"></script>-->
</body>
</html>